.sign-modal {
    width: 40%;
    height: 80vh;
    border: 2px solid #fca311;
    border-radius: 5px;
    margin: auto;
    position: relative;
    top: 55px;
}

.h1-sign {
    text-align: center;
    color: #fca311;
    margin: 15px auto;
}

@media screen and (max-width: 420px) {
    .sign-modal  {
        width: 80%;
       
    }

    .email-input, .password-input  {
        width: 300px;
       
     }

     .error-div {
        width: 300px;
    }
}

@media screen and (max-width: 950px) {
    .sign-modal {
        width: 80%;
       
    }

    .email-input, .password-input  {
        width: 300px;
       
     }

     .error-div {
        width: 300px;
    }
}