.sign-modal {
    width: 40%;
    height: 80vh;
    border: 2px solid #fca311;
    border-radius: 5px;
    margin: auto;
    position: relative;
    top: 55px;
}

.h1-sign {
    text-align: center;
    color: #fca311;
    margin: 15px auto;
}
